@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

.App {
  font-family: "Madimi One", cursive;
  background-color: #00c8ff;
  color: rgb(0, 0, 0);
  display: flex;
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
