@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

.App {
  font-family: "Madimi One", cursive;
  background-color: #00c8ff;
  color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
}
